.App {
  text-align: center;
}

.draft {
display: grid;
grid-gap: 10px;
grid-template-areas: 
"header header"
"pick prospect"
"pick prospect";
grid-template-columns: 1fr 1fr;
}

.prospect-panel {
  grid-area: prospect;
  border-radius: 5px;
  padding: 5px;
  background-color: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 10px;

}

.pick-panel {
  grid-area: pick;
  border-radius: 5px;
  background-color: lightgreen;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
}

.header-panel {
  grid-area: header;
  background-color: lightcoral;
}

.prospect-table {
  width: 100%;
}

.prospect-sort-btn {
  margin: 0px 10px;
}

.prospect-card {
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 2px 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prospect-content {
  text-align: left;
  padding: 10px;
}

